* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(225, 249, 248);
}

body > header {
  width: 100%;
  height: 15%;
}

nav {
  width: 100%;
  height: 50%;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: white;
}

hgroup {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
}

header hgroup h1 {
  width: 100%;
  height: 60px;
  padding-left: 0.5em;
  font-size: 2.6em;
}

main {
  width: 100%;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.296);
  border-collapse: collapse;
}

main article {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px 10px;
}

main article header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1em 1em;
  gap: 0.5em;
}

main article header h3 {
  width: 100%;
  font-size: 35px;
  text-align: center;
}

main article header address,
main article header time {
  font-size: 22px;
  font-weight: 550;
  font-family: "Courier New", Courier, monospace;
}

main article > p {
  font-size: 20px;
  line-height: 1.1em;
  padding-left: 1em;
}

main article section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em 0;
  padding-left: 1em;
}

main article section h3 {
  width: 100%;
  height: max-content;
  font-size: 30px;
  padding-left: 0;
}

main article section p {
  font-size: 20px;
  line-height: 1.2em;
  padding-left: 1em;
}

main article section data {
  font-size: 20px;
  line-height: 1.2em;
  padding-left: 1em;
}

/* data:hover::after {
  content: attr(value);
  font-size: 20px;
} */

main article section figure {
  width: 60%;
  padding-left: 1em;
}

main article section figure img {
  width: 100%;
}

main article section figcaption {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1em;
}

main article section details {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main article section details summary {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.1em;
}

main article footer {
  width: 100%;
}

main article footer address {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  gap: 0.5em;
  width: 100%;
}

main aside {
  border-left: 1px solid rgba(0, 0, 0, 0.296);
  border-radius: 5px;
  padding: 1em;
  width: 30%;
  background-color: rgb(225, 249, 248);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main aside h3 {
  width: 100%;
  height: max-content;
  font-size: 30px;
}

main aside p {
  font-size: 20px;
  line-height: 1.2em;
}

body > footer {
  width: 100%;
  padding: 1em;
  background-color: rgb(34, 34, 34);
  color: white;
  display: flex;
  justify-content: center;
  gap: 2em;
}

dialog {
  padding: 1em;
  position: fixed;
  bottom: 60px;
  left: 80%;
  border-radius: 10px;
}
