* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body > header {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(55, 91, 55);
}

nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.7em;
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: black;
}

hgroup {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

header hgroup h1 {
  width: 100%;
  padding-left: 0.5em;
  font-size: 2.6em;
}

header hgroup h2 {
  width: 100%;
  padding-left: 1em;
}

main {
  width: 100%;
  height: calc(100%-130px);
  display: flex;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  padding: 1em;
  gap: 1em;
}

main article {
  border-radius: 5px;
  background-color: whitesmoke;
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px 10px;
  box-shadow: 1px 1px 3px 3px rgb(171, 168, 168);

  font-size: 20px;
  line-height: 1.1em;
}

main article header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.5em 1em;
  gap: 0.5em;
}

main article header h3 {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

main article > p {
  padding-left: 1em;
}

main article section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em 0;
  padding-left: 1em;
}

main article section h3 {
  width: 100%;
  height: max-content;
  font-size: 30px;
  padding-left: 0;
}

main article section p {
  padding-left: 1em;
}

main article section figure {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  row-gap: 1em;
}

main article section figure img {
  width: 50%;
  border-radius: 5px;
}

main article section figcaption {
  font-weight: 500;
}

main article section details {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main article section details summary {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.1em;
}

main article footer {
  width: 100%;
}

main article footer address {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0.5em;
  gap: 0.5em;
  width: 100%;
}

main aside {
  border: 1px solid rgba(0, 0, 0, 0.296);
  border-radius: 5px;
  padding: 1em;
  width: 20%;
  height: 150px;
  box-shadow: 1px 1px 3px 3px rgb(171, 168, 168);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main aside h3 {
  width: 100%;
  height: max-content;
  font-size: 26px;
}

main aside p {
  font-size: 20px;
  line-height: 1.2em;
}

body > footer {
  width: 100%;
  padding: 1em;
  background-color: rgb(26, 50, 27);
  color: white;
  display: flex;
  justify-content: center;
  gap: 2em;
}

dialog {
  padding: 1em;
  position: fixed;
  bottom: 60px;
  left: 77%;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.2em;
}
