* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body > header {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(46, 99, 46);
  gap: 1.3em;
  color: white;
  position: sticky;
  top: 0;
}

nav {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  font-size: 1.5em;
}

nav a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in;
}

nav a:hover {
  transform: scale(1.1);
}

hgroup {
  width: 60%;
  padding-left: 10em;
  gap: 1em;
}

header hgroup h1 {
  width: 100%;
  font-size: 2.6em;
  font-weight: 400;
}

header hgroup h2 {
  width: 100%;
  padding-left: 1em;
  font-weight: 300;
}

main {
  width: 100%;
  height: calc(100%-130px);
  display: flex;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  padding: 2em;
  gap: 1em;
}

mark {
  background-color: rgb(180, 215, 180);
}

mark:hover {
  background-color: rgb(126, 181, 126);
}

main article {
  border-radius: 5px;
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  line-height: 1.1em;
  gap: 3em;
}

main article header {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 1em 1em;
  gap: 0.7em;
}

main article header h3 {
  width: 100%;
  font-size: 2em;
  text-align: center;
}

main article > p {
  padding-left: 2em;
}

main article section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em 0;
  padding-left: 1em;
  padding-bottom: 1em;
  border-bottom: 0.3px solid rgb(187, 180, 180);
}

main article section h3 {
  width: 100%;
  height: max-content;
  font-size: 1.4em;
  padding-left: 0;
  font-weight: 500;
}

main article section p {
  padding-left: 1em;
}

main article section figure {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  row-gap: 1em;
}

main article section figure img {
  width: 50%;
  border-radius: 5px;
}

main article section figcaption {
  font-weight: 500;
}

main article section details {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgb(202, 230, 202);
  padding: 1rem;
  border-left: 4px solid #05a129;
}

main article section details summary {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.1em;
}

main section ul {
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

main article footer {
  width: 100%;
}

main article footer address {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0.5em;
  gap: 0.5em;
  width: 100%;
}

main aside {
  border: 1px solid rgba(0, 0, 0, 0.296);
  border-radius: 5px;
  padding: 1em;
  width: 20%;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main aside h3 {
  width: 100%;
  height: max-content;
  font-size: 26px;
}

main aside p {
  font-size: 20px;
  line-height: 1.2em;
}

body > footer {
  margin-top: 1em;
  width: 100%;
  padding: 1em;
  background-color: rgb(46, 99, 46);
  color: white;
  display: flex;
  justify-content: center;
  gap: 2em;
}

dialog {
  padding: 1em;
  position: fixed;
  bottom: 80px;
  left: 77%;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.2em;
}
